workflows/dev/ai-deepseek-dev.json
{
  "name": "AI Deepseek (DEV)",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-640, 16],
      "id": "f4916592-4224-46cb-8bb6-d743f477362d",
      "name": "When clicking 'Execute workflow'"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "input",
              "type": "string"
            },
            {
              "name": "sessionId",
              "type": "string"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [-640, 160],
      "id": "execute-workflow-trigger-dev-123",
      "name": "When Called by Test Orchestrator"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [-544, 240],
      "id": "356e4739-ff54-4a3a-9253-04793c7afd45",
      "name": "DeepSeek Chat Model",
      "credentials": {
        "deepSeekApi": {
          "id": "sFuzOe0ydJ9CEn0H",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "description": "Этот инструмент получает финансовые данные из Financial Modeling Prep. \nТы должен передавать JSON с двумя ключами: \n- 'toolName' (обязательно): строка с командой, которую нужно выполнить. \n- 'params' (обязательно): объект с параметрами для этой команды.\n\nСПИСОК ДОСТУПНЫХ КОМАНД ('toolName'):\n\n1. 'Insider.Trading.Latest': получает список последних сделок инсайдеров.\n   Параметры в 'params':\n   - 'page': номер страницы (чтобы пролистывать результаты).\n   - 'limit': сколько записей вернуть.\n\n2. 'Insider.Trading.ReportingName': находит все сделки конкретного инсайдера (покупателя или продавца).\n   Параметры в 'params':\n   - 'name': имя инсайдера (например \"Elon Musk\").\n\n3. 'Insider.Trading.Search': находит все сделки инсайдеров по конкретной компании.\n   Параметры в 'params':\n   - 'symbol': тикер компании (например \"AAPL\").\n   - 'page': номер страницы (чтобы пролистывать результаты).\n   - 'limit': сколько записей вернуть.\n\n4. 'Company.Profile': получает информацию о компании по её тикеру.\n   Параметры в 'params':\n   - 'symbol': тикер компании (например \"AAPL\").\n   Возвращает: название компании, индустрию, сектор, описание.",
        "workflowId": {
          "__rl": true,
          "value": "v21zxm3pi6T3hIPV",
          "mode": "list",
          "cachedResultName": "Insider Trades — FPM API Router"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "toolName": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('toolName', ``, 'string') }}",
            "params": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('params', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "toolName",
              "displayName": "toolName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "params",
              "displayName": "params",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [-192, 240],
      "id": "c6ec7c27-9f16-42e3-a53a-4e7b3161f9b6",
      "name": "Call n8n Workflow Tool"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.input }}",
        "options": {
          "maxIterations": 300
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [-432, 16],
      "id": "2c21e67f-9c30-4548-b91d-e19b90b09ad1",
      "name": "AI Agent"
    }
  ],
  "pinData": {
    "When clicking 'Execute workflow'": [
      {
        "json": {
          "input": "Тестовый запрос для DEV версии AI Deepseek",
          "sessionId": "test-chat-dev"
        }
      }
    ]
  },
  "connections": {
    "DeepSeek Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Called by Test Orchestrator": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call n8n Workflow Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "fa1c246d-c7ed-49f6-84f1-7c805a527441-dev",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d3f4a3b127cb87bc84470563af6a1f06f66603f8f86e5c640a99cd751a7b3883"
  },
  "tags": []
}