workflows/first-bird/dev/ai-deepseek-dev.json
{
  "name": "AI Deepseek DEV",
  "id": "0VAipR4PLHbtkIzw",
  "nodes": [
    {
      "id": "manual-trigger",
      "name": "When clicking 'Execute workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [-640, 16],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "id": "execute-workflow-trigger",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [-640, -120],
      "parameters": {
        "workflowInputs": {
          "values": [
            {"name": "input", "type": "string"},
            {"name": "sessionId", "type": "string"}
          ]
        }
      },
      "typeVersion": 1.1
    },
    {
      "id": "ai-agent",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [-432, 16],
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.input }}",
        "options": {"maxIterations": 300}
      },
      "typeVersion": 2.2
    },
    {
      "id": "deepseek-model",
      "name": "DeepSeek Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "position": [-544, 240],
      "parameters": {"options": {}},
      "typeVersion": 1
    },
    {
      "id": "workflow-tool",
      "name": "Call n8n Workflow Tool",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "position": [-192, 240],
      "parameters": {
        "description": "FMP API integration tool for financial data",
        "workflowId": {
          "__rl": true,
          "value": "UmUET85BJqPbpRPp",
          "mode": "list",
          "cachedResultName": "FMP API Router DEV"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "toolName": "={{ $json.toolName || 'Insider.Trading.Latest' }}",
            "params": "={{ $json.params || {} }}"
          }
        }
      },
      "typeVersion": 2.2
    }
  ],
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [[{"node": "AI Agent", "type": "main", "index": 0}]]
    },
    "When Executed by Another Workflow": {
      "main": [[{"node": "AI Agent", "type": "main", "index": 0}]]
    },
    "DeepSeek Chat Model": {
      "ai_languageModel": [[{"node": "AI Agent", "type": "ai_languageModel", "index": 0}]],
      "main": []
    },
    "Call n8n Workflow Tool": {
      "ai_tool": [[{"node": "AI Agent", "type": "ai_tool", "index": 0}]],
      "main": []
    }
  },
  "settings": {"executionOrder": "v1"},
  "meta": {
    "description": "AI Deepseek DEV - Financial data analysis with dual triggers",
    "lastSyncFromN8N": "2025-08-29T15:02:19.000Z",
    "workflowId": "0VAipR4PLHbtkIzw",
    "project": "First Bird DEV"
  }
}