workflows/first-bird/dev/fmp-router-dev.json
{
  "name": "FMP API Router DEV",
  "id": "UmUET85BJqPbpRPp",
  "active": true,
  "createdAt": "2025-08-29T14:54:50.673Z", 
  "updatedAt": "2025-08-30T14:06:03.543Z",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "When clicking 'Execute workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [336, 112],
      "typeVersion": 1
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {"name": "toolName"},
            {"name": "params", "type": "object"}
          ]
        }
      },
      "id": "execute-workflow-trigger",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [336, -48],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "options": {}
      },
      "id": "http-request",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "position": [832, -64],
      "typeVersion": 4.2,
      "credentials": {
        "httpQueryAuth": {
          "id": "k887gSxTZZEgRYIa",
          "name": "FMP API"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "fmp-router-dev",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [336, -176],
      "webhookId": "d2022f16-7806-4626-ba9f-72eb0fcaa6aa"
    },
    {
      "parameters": {
        "jsCode": "// --- FMP API Router v3 - Credential-Aware Architecture ---\nconst FMP_BASE_URL = 'https://financialmodelingprep.com';\n\nconst routingTable = {\n  'Insider.Trading.Latest': { path: '/api/v4/insider-trading', paramIn: 'query' },\n  'Insider.Trading.ReportingName': { path: '/api/v4/insider-trading', paramIn: 'query' },\n  'Insider.Trading.Search': { path: '/api/v4/insider-trading', paramIn: 'query' },\n  'Company.Profile': { path: '/api/v3/profile', paramIn: 'query' }\n};\n\n// --- Router Logic ---\n// Get data from trigger\nconst toolName = $json.toolName;\nconst params = $json.params || {};\n\nconsole.log('🔗 FMP Router v3 - Processing:', { toolName, params });\n\n// Find route\nconst route = routingTable[toolName];\nif (!route) {\n  throw new Error(`Command \"${toolName}\" not found in routing table.`);\n}\n\n// Build URL without API key (HTTP Request node will add credential)\nlet finalUrl = FMP_BASE_URL + route.path;\n\n// Add symbol to path for Company.Profile\nif (toolName === 'Company.Profile' && params.symbol) {\n  finalUrl = `${FMP_BASE_URL}${route.path}/${params.symbol}`;\n  // Remove symbol from query params since it's in path\n  delete params.symbol;\n}\n\n// Add remaining parameters as query string (NO API KEY - handled by HTTP Request credential)\nif (route.paramIn === 'query' && Object.keys(params).length > 0) {\n  const queryParts = [];\n  for (const key in params) {\n    if (params[key] !== undefined && params[key] !== null) {\n      queryParts.push(encodeURIComponent(key) + '=' + encodeURIComponent(params[key]));\n    }\n  }\n  if (queryParts.length > 0) {\n    finalUrl += '?' + queryParts.join('&');\n  }\n}\n\nconsole.log('🔗 FMP Router v3 - Generated URL (credential will be added by HTTP Request):', finalUrl);\nconsole.log('📊 FMP Router v3 - Tool:', toolName, 'Clean Params:', JSON.stringify(params));\n\n// Return clean URL - HTTP Request node will add API key via credential\nreturn [{ url: finalUrl, toolName: toolName, params: params }];"
      },
      "id": "router-logic-v2",
      "name": "Code Router Logic v2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [592, -64]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Code Router Logic v2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Router Logic v2": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "Code Router Logic v2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Code Router Logic v2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "saveExecutionProgress": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all"
  },
  "meta": {
    "description": "FMP API Router DEV - Enhanced с credential-aware architecture",
    "lastSyncFromN8N": "2025-08-30T15:55:00.000Z",
    "workflowId": "UmUET85BJqPbpRPp",
    "project": "First Bird DEV",
    "webhookUrl": "https://dm83.app.n8n.cloud/webhook/fmp-router-dev",
    "enhancements": [
      "Code Router Logic v2 - Credential-aware API routing",
      "Webhook Trigger - Direct API testing capability",
      "Enhanced routing table - Updated API endpoints",
      "Security improvement - API key via HTTP Request credentials"
    ]
  }
}