workflows/first-bird/dev/fmp-router-dev.json
{
  "name": "FMP API Router DEV",
  "id": "UmUET85BJqPbpRPp",
  "nodes": [
    {
      "id": "manual-trigger",
      "name": "When clicking 'Execute workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [336, 100],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "id": "execute-workflow-trigger",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [336, -40],
      "parameters": {
        "workflowInputs": {
          "values": [
            {"name": "toolName", "type": "string"},
            {"name": "params", "type": "object"}
          ]
        }
      },
      "typeVersion": 1.1
    },
    {
      "id": "router-logic",
      "name": "Code Router Logic",
      "type": "n8n-nodes-base.code",
      "position": [592, -64],
      "parameters": {
        "jsCode": "// FMP API Router Logic\nconst FMP_BASE_URL = 'https://financialmodelingprep.com';\n\nconst routingTable = {\n  'Insider.Trading.Latest': { path: '/stable/insider-trading/latest', paramIn: 'query' },\n  'Insider.Trading.ReportingName': { path: '/stable/insider-trading/reporting-name', paramIn: 'query' },\n  'Insider.Trading.Search': { path: '/stable/insider-trading/search', paramIn: 'query' },\n  'Company.Profile': { path: '/stable/profile', paramIn: 'query' }\n};\n\nconst apiKey = 'S5tVOZNLoKcHwfq9fGwPSHgnXQZNWPRt';\nconst toolName = $json.toolName;\nconst params = $json.params || {};\nparams.apikey = apiKey;\n\nconst route = routingTable[toolName];\nif (!route) {\n  throw new Error(`Command \"${toolName}\" not found in routing table.`);\n}\n\nlet finalUrl = FMP_BASE_URL + route.path;\nif (route.paramIn === 'query' && Object.keys(params).length > 0) {\n  const queryParts = [];\n  for (const key in params) {\n    if (params[key] !== undefined && params[key] !== null) {\n      queryParts.push(encodeURIComponent(key) + '=' + encodeURIComponent(params[key]));\n    }\n  }\n  if (queryParts.length > 0) finalUrl += '?' + queryParts.join('&');\n}\n\nreturn { url: finalUrl };"
      },
      "typeVersion": 2
    },
    {
      "id": "http-request",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "position": [832, -64],
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {}
      },
      "typeVersion": 4.2
    }
  ],
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [[{"node": "Code Router Logic", "type": "main", "index": 0}]]
    },
    "When Executed by Another Workflow": {
      "main": [[{"node": "Code Router Logic", "type": "main", "index": 0}]]
    },
    "Code Router Logic": {
      "main": [[{"node": "HTTP Request", "type": "main", "index": 0}]]
    },
    "HTTP Request": {"main": []}
  },
  "settings": {"executionOrder": "v1"},
  "meta": {
    "description": "FMP API Router DEV - Financial Modeling Prep API routing with dual triggers",
    "lastSyncFromN8N": "2025-08-29T15:01:38.000Z",
    "workflowId": "UmUET85BJqPbpRPp",
    "project": "First Bird DEV"
  }
}